In [8]:
import networkx as nx
import pandas as pd
import numpy as np

nb_dir = os.path.split(os.getcwd())[0]
if nb_dir not in sys.path:
    sys.path.append(nb_dir)


from Utils import evaluation_measures as ev

In [9]:
# initialize the network name and dataset path
network = 'airports'
path = '../Airports/'

# read edge list from csv file
edge_list = pd.read_csv( path+ network + '.csv')
edge_list.weight = edge_list.weight.astype(int)

In [3]:
labels = pd.read_csv('airports_labels.csv')
north_america = pd.read_csv('../Results/All Backbones/north america/countries.csv')

In [4]:
north_america_countries = north_america.drop(columns=['City']).dropna()
north_america_cities = north_america.drop(columns=['Country']).dropna()
df_north_america_airports = labels.merge(north_america_countries, on='Country', how='inner')
df_north_america_airports = df_north_america_airports.append(labels.merge(north_america_cities, on='City'), ignore_index=True) 
df_north_america_airports.sort_values(by='id')

,id,IATA,Latitude,Longitude,Name,City,Country,Label
842,18,JEG,68.721802,-52.784698,Aasiaat Airport,Aasiaat,Greenland,BGAA
841,19,UAK,61.160500,-45.425999,Narsarsuaq Airport,Narssarssuaq,Greenland,BGBW
835,20,GOH,64.190903,-51.678101,Godthaab / Nuuk Airport,Godthaab,Greenland,BGGH
837,21,JAV,69.243202,-51.057098,Ilulissat Airport,Ilulissat,Greenland,BGJN
843,22,JSU,65.412498,-52.939400,Maniitsoq Airport,Maniitsoq,Greenland,BGMQ
...,...,...,...,...,...,...,...,...
466,2716,HUS,66.041100,-154.263001,Hughes Airport,Hughes,United States,PAHU
690,2727,YUT,66.521400,-86.224701,Repulse Bay Airport,Repulse Bay,Canada,CYUT
783,2730,SYQ,9.957050,-84.139801,Tobias Bolanos International Airport,San Jose,Costa Rica,MRPV
498,2732,LNS,40.121700,-76.296097,Lancaster Airport,Lancaster,United States,KLNS
502,2734,\N,63.866199,-148.968994,Healy River Airport,Healy,United States,PAHV

In [5]:
df_north_america_edges = edge_list.loc[(edge_list['source'].isin(df_north_america_airports.id)) & (edge_list['target'].isin(df_north_america_airports.id))]
df_north_america_edges = df_north_america_edges.reset_index(drop=True)
df_north_america_edges

      source  target  weight
0         18      21       9
1         18      23       9
2         19      20      11
3         19      23      16
4         20      21     100
...      ...     ...     ...
4073     687    2260       5
4074     946     947       1
4075     927    2252       1
4076    1137    2734       2
4077    1405    1427       1

[4078 rows x 3 columns]

In [6]:
G = nx.from_pandas_edgelist(df_north_america_edges, edge_attr='weight')
G = ev.get_lcc(G)
df_north_america_lcc = nx.to_pandas_edgelist(G)

In [7]:
df_north_america_airports.to_csv('../Results/All Backbones/north america/north_america_nodes.csv', index=False)
df_north_america_edges.to_csv('../Results/All Backbones/north america/north_america_all_components.csv', index=False)
df_north_america_lcc.to_csv('../Results/All Backbones/north america/north_america.csv', index=False)